<div class="background-green">
  <nav class="navbar navbar-expand-lg navbar-light background-green">
    <div class="btn-group">
      <button type="button" class="btn dropdown-toggle dropdown-toggle-split btn-sm" id="dropdownMenuReference"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
        <a class="navbar-brand text-white" href="#">
          <h1>My Qitta</h1>
        </a>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn dropdown-toggle dropdown-toggle-split btn-sm" id="dropdownMenuReference"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
        <a class="navbar-brand text-white" href="#">
          <h6>コミュニティ</h6>
        </a>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="キーワードを入力" aria-label="Search">
        </form>
      </ul>
    </div>
    <% if current_user == nil %>
    <%=link_to 'ユーザ登録',new_user_registration_path,class:'btn btn-outline-light mr-2'%>
    <%=link_to 'ログイン',user_session_path,class:'text-white'%>
    <% else %>
    <div class="btn-group">
      <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-suitcase"></i>     
       </button>
      <div class="dropdown-menu dropdown-menu-right">
        <%= link_to "マイページ",root_path,class:"dropdown-item"	%>
        <div class="dropdown-divider"></div>
        <%= link_to '下書き一覧',stories_path,class:'dropdown-item'%>
        <a class="dropdown-item" href="#">編集リクエスト一覧</a>
        <a class="dropdown-item" href="#">設定</a>

        <div class="dropdown-divider"></div>
        <%=link_to 'ログアウト',destroy_user_session_path,class:'dropdown-item',method:'delete'%>
      </div>
    </div>
    <% end %>
  </nav>
</div>