<div class="container">
    <%= notice %>
    <%= form_with model:@story,url: stories_path do |f| %>
    <div class="form-group mt-2">
        <%= f.text_field :title,placeholder:"タイトル",class:"form-control form-control-lg" %>
    </div>
    <div class="form-group mt-2">
        <%= f.text_field :skill_tag,placeholder:"プログラミング技術に関連するダグをスペース区切りで五つまで入力",class:"form-control form-control-md" %>
    </div>
    <div class="form-group">
        <label class="mr-2">本文</label>
        <%= render 'markdown' %>
        <label class="mr-2">未投稿</label>
        <%= f.text_area :memo ,class:'form-control mt-1',rows:"20" %>
        <%= f.submit '投稿',class:'btn btn-primary mt-2' %>
    </div>

    <% end %>


</div>