<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="row border-bottom text-center">
        <div class="col">
          <h1>Qittaログイン</h1>
        </div> 
      </div>
      <div class="row mt-2">
        <div class="col-6">
          <div class="btn-group-vertical row">
            <button type="button" class="btn btn-dark btn-lg btn-block rounded">
              <i class="fab fa-github-square">                
                GitHub アカウントでログイン
              </i>
            </button>
            <button type="button" class="btn btn-primary mt-3 btn-lg rounded">
              <i class="fab fa-twitter-square">
                Twitter アカウントでログイン
              </i>
            </button>
            <button type="button" class="btn btn-danger mt-3 btn-lg rounded">
              <i class="fab fa-google">
                Google アカウントでログイン
              </i>
            </button>
          </div>
          <div class="row border-top row mt-4 mr-1">
            <p class="text-sm">Qiita のアカウントを持っていない場合は<%= link_to "新規登録" ,new_user_registration_path	%>から。</p>
          </div>
        </div>
        <div class="col-6 border-left form-group">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field mb-4">
            <%= f.email_field :email, autocomplete: "email",class:'form-control',placeholder:'ユーザー名　または　メールアドレス' %>
          </div>

          <div class="field mb-4">
            <%= f.password_field :password, autocomplete: "current-password",placeholder:"パズワード",class:'form-control' %>
            <%= link_to 'パスワードを忘れた場合', new_user_password_path %>
          </div>
          <div class="actions">
            <%= f.submit "ログイン" ,class:'btn btn-primary btn-lg col-12' %>
          </div>
          <% end %>
        </div>

      </div>
    </div>

    <div class="col-2"></div>
  </div>
</div>